*{margin: 0px ;padding: 0px}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');
body{font-family: "Lato", sans-serif;font-size: 14px;}
button{text-transform: capitalize;}
.bg-purple{
    background: #8e00a3;
}
.container{
    max-width:85%;
}
.cursor{
    cursor: pointer;
}
.btnblue{
    padding: 7px 28px !important;
    color: rgb(213, 228, 239) !important;
    background: rgb(39, 105, 226) !important;
    border-radius: 40px !important;
}
.btnblue:hover{
    color: white !important;
    background-color: rgb(50, 103, 202) !important;
}
.text-light{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5) !important;
}
.header-wrapper{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    /* padding-bottom: 10px; */
}
.header-wrapper .top-strip p{
    color: #ffffff;
}
.header-wrapper .top-strip {
    padding: 10px 0px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}
.header-wrapper .header {
    width: 100%;
    height: auto;
    padding: 25px 0px;
}
.logo-wrapper {
    width: 100%;
    /* max-width: 200px; */
    height: auto;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 100%;
    height: auto;
    padding: 0px 20px;
}
.header-wrapper .header .part2 .countaryDrop {
    height: auto;
    width: 20%;
    min-width: 150px;
    text-align: left !important;
    justify-content: space-between;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    padding: 1px 10px;
    background: #ebeaea;
}
.header-wrapper .header .part2 .countaryDrop .lable {
    font-size: 12px !important;
    color: rgba(0, 0, 0, 0.7) !important;
    text-transform: capitalize !important;
    line-height: 16px;

}
.header-wrapper .header .part2 .countaryDrop .name {
    font-size: 14px !important;
    color: #8e00a3 !important;
    text-transform: capitalize !important;
    font-weight: 700;
    line-height: 16px;
}
.location_modal .MuiPaper-elevation{
    padding: 25px;
    position: relative;
}
.closebutton {
    position: absolute !important;
    top: 10px;
    right: 10px;
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius:50% ;
}
.closebutton svg{
    color: black;
    font-size: 20px;
}
.location_modal .country_list li{
    width: 100%;
    list-style: none;
}
.location_modal .country_list {
    margin-bottom: 0px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.location_modal .country_list li Button{
    color: #000;
    width: 100%;
    text-transform: capitalize;
    justify-content: flex-start;
    padding: 7px 10px;
    font-size: 20px;
}
.location_modal .country_list li Button:hover{
    background-color: #e2e2e2;
}
.active{
    background: #eceaea !important;
}
.header_search {
    width: 60%;
    background-color: #eeebeb;
    height: 50px;
    position: relative !important;
    border-radius: 5px;
    padding: 9px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.header_search input{
    background: transparent !important;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
}
.header_search input::-webkit-input-placeholder{
    color: rgba(0, 0, 0, 0.4);
}
.header_search button{
    position: absolute;
    right: 15px;
    top: 4px;
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
    z-index: 50;
    color: #000;
    padding: 0;
    min-width: 40px !important;
}
.header_search button svg{
    color: black;
    font-size: 25px;
}
.part3 .circle{
    align-items: center !important;
    justify-content: center !important;
    min-width: 45px;
    height: 45px;
    width: 45px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    font-size: 22px;
    color: rgb(69, 66, 66);
    font-weight: 50;
}
.cart_button button{
    background-color: #fff6ee;
}
.cart_button .price {
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
}
.cart_button button svg {
    color: rgb(246, 160, 75);
}
.cart_button .count {
    display: flex;
    position: absolute;
    top: -4px;
    right: -4px;
    background-color: rgb(246, 160, 75);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
nav .navpart1{
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
nav .allcat {
    padding: 12px 25px;
    background: #b54bc5;
    color: white;
    border-radius: 30px;
}
nav .allcat:hover{
    background: #b54bc5;
}
.catWrapper {position: relative;}

.sidebarNav{
    position: absolute;
    top: 120%;
    width: 100%;
    left: 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 0px;
    opacity: 0;
    transition: all 0.1s ease-in-out;
    visibility: hidden;
    background: white;
}

 .open{
    opacity: 1;
    visibility: inherit;
    z-index: 100;
}
.sidebarNav ul li{
    list-style: none;
    width: 100%;
}
.sidebarNav ul li button{
    color: #000;
    justify-content: flex-start;
    text-transform: capitalize;
    width: 100%;
    padding: 5px 15px;
    border-radius: 0px;
    font-size: 16px;
}
.sidebarNav ul li button svg{font-size: 12px;opacity: 0.6;}
.sidebarNav ul li button:hover{
    background: #e2e2e2;
}
.sidebarNav ul li{position: static;}
.sidebarNav ul li .submenu {
    position: absolute;
    top: 0;
    left: 100%;
    background: rgb(255, 255, 255);
    width: 250px;
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    padding: 15px 0px;
}
.sidebarNav ul li:hover .submenu{
    opacity: 1;
    visibility: inherit;
}
.sidebarNav .submenu a button{
    width: 100%;
    text-transform: capitalize;
    padding: 5px 15px;
}

.texts{
    font-weight: 600 !important;
}
nav .allcat .icon1 svg{
    font-size: 25px;
}
nav .allcat .icon2 svg{
    font-size: 15px;
}
.navpart2{
    align-items: center;
    /* justify-content: center; */
}
.navpart2 ul{
    margin-bottom: 0px;
}
.navpart2 ul li a{
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-bottom:10px ;
    transition: 0.2s ease-in-out;
    border-radius: 18px;

}
.navpart2 ul li a:hover{
    color: #b54bc5;
    background:#e9cfed;
}
.navpart2 ul li{
    position: relative;

}
.navpart2 ul li .submenu{
    position: absolute;
    top: 100%;
    left: 0px;
    min-width: 200px;
    background-color: white;
    visibility: hidden;
    opacity: 0;
}
.navpart2 ul li:hover .submenu{
    visibility: inherit;
    opacity: 1;
    top: 100%;
    transition: all 0.4s ease-in-out;
    z-index: 100;
}

.navpart2 ul li .submenu a{
    display: block;
    width: 100%;
    border-radius: 0px;
    padding: 8px;
    margin-bottom: 0px;
}
.navpart2 ul li .submenu a:hover{
    background-color: #d1d0d0;
}
.navpart2 ul li .submenu a button{
    color: #000;
    width: 100%;
    border-radius: 0px;
    justify-content: flex-start !important;
    text-transform: capitalize;
}
.homebanner{
    position: relative;
    overflow: hidden;
    
}
.homebanner *{
    outline: none;
}
.homebanner .slick-arrow{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 15px;
    color: black;
    background-color: rgb(4, 4, 4);
    /* position: absolute; */
}
.homebanner .slick-next{
    display: flex;
    background: transparent;
    position: absolute;
    top: 45%;
    right: 0;
    height: 300px;
    width: 30px;
}
.homebanner .slick-prev{
    display: flex !important;
    background: transparent;
    position: absolute;
    top: 45%;
    left: 0px;
    height: 300px;
    z-index: 100;
}
.homeProducts{
    padding: 25px 0px;
    width: 100%;
}
.homeProducts .banner{
    width: 100%;
    border-radius: 10px;
    /* overflow: hidden; */
}

.homeProducts .banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.productRow{
    align-items: center;
}
.hd{
    font-size: 20px;
    font-weight: 510;
    text-transform: uppercase;
}
.info{
    padding: 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info p{
    margin-bottom: 0px;
}
.productRow Button{
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-transform: capitalize;
    padding: 8px 14px;
    border-radius: 30px;
}

.productRow Button:hover{
    background-color: #eeecec;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.product_row .productItems{
    width: 100%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.product_row .productItems .img_wrapper img{
    position: relative;
}
.product_row .productItems .info .heading{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px !important;
}
.info .price .oldPrice{
    font-size: 16px;
    text-decoration: line-through;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}
.info .price .newPrice{
    font-size: 16px;
    font-weight: bold;
}
.productItems{
    position: relative;
}
.badge{
    position: absolute;
    padding: 4px 7px;
    top: 10px;
    left: 10px;
    color: white;
    background: rgb(53, 145, 243);
}
.badges{
    position: absolute;
    padding: 4px 10px;
    top: 5%;
    left: 5%;
    color: white;
    background: rgb(53, 145, 243);
    z-index: 100;
    border-radius: 10px;
    font-size: 10px;
}
.productItems .action button{
    align-items: center;
    justify-content: center;
    min-width: 40px !important;
    width: 40px !important;
    height: 40px !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
}
.productItems .action{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: -10px;
    gap: 10px;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.productItems .action button svg{
    color: #000;
    opacity: 0.7;
    font-size: 16px;
}
.productItems .abc{
    overflow: hidden;
}
.productItems .action button:hover{
    background: rgb(53, 145, 243);    
}
.productItems .abc:hover .action{
    right: 10px;
    opacity: 1;
    visibility: inherit;
}
.productItems .img_wrapper:hover img{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.homecat .items img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.homecat .items{
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
.swiper-button-next{
    position: absolute;
    color: rgba(0, 0, 0, 0.5) !important;
    top: 48% !important;
    right: 0px !important;
}
.swiper-button-prev{
    color: rgba(0, 0, 0, 0.5) !important;
    top: 48% !important;
    left: 0px !important;
}
.swiper-button-prev:after, .swiper-button-next:after{
    font-size: 25px !important;
    background-color: #e2e2e2;
    padding: 10px;
    height: 50px !important;
    width: 50px !important;
}

.items h6{
    display: flex;
    justify-content: center;
}
.productRow2{
    flex-wrap: wrap;
    gap: 10px;
}
.productRow2 .productItems{
    width: 24%;
    overflow: hidden;
}
.bannerflex{
    gap: 10px;
}
.sticky{
    position: sticky;
    top: 10px;
}
.newsSection{
    width: 100%;
    background: rgb(56, 56, 232);
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 70px 0px;
}
.newsSection col-md-6{position: static;}
.newsSection img{
    position: absolute;
    bottom: -70px;
    right: 0px;
}
.newsSection p{
    font-size: 15px;padding: 10px 0px;
}
.newsSection h4{
    font-size: 30px;
}
.newsSection .text-light{
    color: #fff !important;opacity: 0.5;font-size: 13px;
}
.newsSection form{
    width: 100%;height: 60px;
    background: white;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}
.newsSection form svg{
    position: absolute;
    top: 14px;
    left: 10px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
}
.newsSection form input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 50px;
    font-size: 18px;
}
.newsSection form button{
    position: absolute;
    right: 7px;
    top: 7px;
    background: rgb(56, 56, 232) !important;
    color: white;
    font-size: 15px;
    padding: 10px 15px;
}
footer{
    width: 100%;
    height: auto;
    /* background: #f4f4f4; */
    margin: auto;
    /* padding: 25px; */
}
.footercolor{background: #f4f4f4;}
.topInfo{border-bottom: 1px solid rgba(0, 0, 0, 0.2); padding-bottom: 20px;}
footer .topInfo .col{
    align-items: center;
    padding: 14px;padding-left: 40px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
footer .topInfo .col:last-child{border-right: none;}
footer .topInfo .col span{font-size: 14px;font-weight: 600;}
.topInfo .col svg{font-size: 22px;margin-right: 5px;}
.linkWrap{padding-bottom: 60px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
}
.linkWrap .col{padding-left: 40px;}
.linkWrap h3{font-size: 15px;margin-bottom: 20px;font-weight: 600;}
.linkWrap ul li{list-style: none;}
.linkWrap ul li a{color: #686666;font-size: 12px;}
.linkWrap ul li a:hover{text-decoration: none;}
footer .contact{padding: 20px 0px;}
footer .contact p{color: #a09e9e; font-size: 12px;}
footer .contact .col-md-6 a{color: #a09e9e;}
footer .contact .col-md-6 svg{font-size: 25px;}
footer .contact .col-md-6{
    justify-content: space-between;
}
.productModal .MuiPaper-elevation{
    padding: 25px 25px;
    position: relative;
    max-width: 1000px !important;
    width: 950px !important;
}
.innerImage{
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    border-radius: 12px !important;
}
.productModal h4{
    font-size: 20px !important;
}
.productModal .slick_cloned {
    overflow: hidden !important;
}
.productModal .slick-slide{
    overflow: hidden !important;
}
.productModalSlider .slick-prev{
    left: 0px !important;
    top: 50% !important;
    z-index: 100;
}
.productModalSlider .slick-next{
    right: 10px !important;
    top: 50% !important;
    z-index: 100;
}

.slick-arrow::before{
    font-size: 30px;
    color: #706f6f;
}
.iiz__hint{
    display: none;
}
.instock{
    background: rgb(194, 243, 178);
    color: rgb(41, 188, 41);
    padding: 5px 10px;
    border-radius: 15px;
}
.quantitydrop{width: 150px;gap: 20px;}
.quantitydrop button{
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:#e7e3e3;
}
.quantitydrop button svg{color: #000;}
.quantitydrop input{
    width: 30px;
    border: none;outline: none;
    text-align: center;
    font-size: 20px;
}
.addbutton{border-radius: 30px !important; font-size: 10px !important; border: 1px solid rgba(0, 0, 0, 0.5) !important; color: #686666 !important;}
.addbutton svg{color:#686666; font-size: 15px;}
.comparebutton{color: #686666 !important; font-size: 11px !important;}
.comparebutton svg{color: #686666; font-size: 15px;}
.addbutton:hover{background: white !important;}
.comparebutton:hover{background: white !important;}

.productListingPage .productListing{ gap: 20px;}
.productListingPage .productListing .sidebar {
    width: 25%;
    flex: 0 0 25%;
}
.productListingPage .productListing .contentRight{
    width: 75%;
    flex: 0 0 75%;
}
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    user-select: none;
}

/* Hide the default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 4px;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.sidebar{padding: 35px 0px;position: relative;}
.filterBox .scroll{padding-left: 10px; max-height: 300px; overflow-y: scroll; overflow-x: hidden;}
.productListingPage .productListing .sidebar .filterBox .scroll::-webkit-scrollbar {width: 5px;}
.productListingPage .productListing .sidebar .filterBox .scroll::-webkit-scrollbar-thumb {background: #ababab;border-radius: 10px;}

.filterBox .scroll ul li{
    list-style: none;
    margin-bottom: 2px !important;
    width: 100%;
}
.css-i4bv87-MuiSvgIcon-root{
    width: 20px !important;
    height: 20px !important;
}
.css-ahj2mt-MuiTypography-root{font-size: 15px !important;}
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root{
    padding: 2px !important;
}
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked{color: #b54bc5 !important;}
.sidebar .filterBox h6{font-weight: 520 !important;  font-size: 15px;}
.range-slider__thumb{background: black !important; width: 10px !important; height: 10px !important;}
.range-slider__range{background: black !important;}
.range-slider{
    height: 5px !important;
}
.sidebar .bann{
    position: sticky !important;
    top: 10px !important;
    right: 0px;
}