*{margin: 0px ;padding: 0px}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{font-family: "Lato", sans-serif;font-size: 14px;}

.bg-purple{
    background: #8e00a3;
}
.container{
    max-width: 90%;
}
.header-wrapper{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    /* padding-bottom: 10px; */
}
.header-wrapper .top-strip p{
    color: #ffffff;
}
.header-wrapper .top-strip {
    padding: 10px 0px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}
.header-wrapper .header {
    width: 100%;
    height: auto;
    padding: 25px 0px;
}
.logo-wrapper {
    width: 100%;
    /* max-width: 200px; */
    height: auto;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 100%;
    height: auto;
    padding: 0px 20px;
}
.header-wrapper .header .part2 .countaryDrop {
    height: auto;
    width: 150px;
    min-width: 150px;
    text-align: left !important;
    justify-content: space-between;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    padding: 10px;
}
.header-wrapper .header .part2 .countaryDrop .lable {
    font-size: 12px !important;
    color: rgba(0, 0, 0, 0.7) !important;
    text-transform: capitalize !important;
    line-height: 16px;

}
.header-wrapper .header .part2 .countaryDrop .name {
    font-size: 14px !important;
    color: #8e00a3 !important;
    text-transform: capitalize !important;
    font-weight: 700;
    line-height: 16px;
}
.location_modal .MuiPaper-elevation{
    padding: 25px;
    position: relative;
}
.location_modal .closebutton {
    position: absolute;
    top: 10px;
    right: 10px;
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius:50% ;
}
.location_modal .closebutton svg{
    color: black;
    font-size: 20px;
}
.location_modal .country_list li{
    width: 100%;
    list-style: none;
}
.location_modal .country_list {
    margin-bottom: 0px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.location_modal .country_list li Button{
    color: #000;
    width: 100%;
    text-transform: capitalize;
    justify-content: flex-start;
    padding: 7px 10px;
    font-size: 20px;
}
.location_modal .country_list li Button:hover{
    background-color: #e2e2e2;
}
.active{
    background: #eceaea !important;
}
.header_search {
    width: 60%;
    background-color: #eeebeb;
    height: 50px;
    position: relative !important;
    border-radius: 5px;
    padding: 9px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.header_search input{
    background: transparent !important;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
}
.header_search input::-webkit-input-placeholder{
    color: rgba(0, 0, 0, 0.4);
}
.header_search button{
    position: absolute;
    right: 15px;
    top: 4px;
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
    z-index: 50;
    color: #000;
    padding: 0;
    min-width: 40px !important;
}
.header_search button svg{
    color: black;
    font-size: 25px;
}
.part3 .circle{
    align-items: center !important;
    justify-content: center !important;
    min-width: 45px;
    height: 45px;
    width: 45px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    font-size: 22px;
    color: rgb(69, 66, 66);
    font-weight: 50;
}
.cart_button button{
    background-color: #fff6ee;
}
.cart_button .price {
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
}
.cart_button button svg {
    color: rgb(246, 160, 75);
}
.cart_button .count {
    display: flex;
    position: absolute;
    top: -4px;
    right: -4px;
    background-color: rgb(246, 160, 75);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
nav .navpart1{
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
nav .allcat {
    padding: 12px 25px;
    background: #b54bc5;
    color: white;
    border-radius: 30px;
}
nav .allcat:hover{
    background: #b54bc5;
}
.catWrapper {position: relative;}

.sidebarNav{
    position: absolute;
    top: 112%;
    width: 100%;
    left: 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 0px;
}
.sidebarNav ul li{
    list-style: none;
    width: 100%;
    padding: 0px 15px;
}
.sidebarNav ul li button{
    color: #000;
    justify-content: flex-start;
    text-transform: capitalize;
}
.texts{
    font-weight: 600 !important;
}
nav .allcat .icon1 svg{
    font-size: 25px;
}
nav .allcat .icon2 svg{
    font-size: 15px;
}
.navpart2{
    align-items: center;
    /* justify-content: center; */
}
.navpart2 ul{
    margin-bottom: 0px;
}
.navpart2 ul li a{
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-bottom:10px ;
    transition: 0.2s ease-in-out;
    border-radius: 18px;

}
.navpart2 ul li a:hover{
    color: #b54bc5;
    background:#e9cfed;
}
.navpart2 ul li{
    position: relative;

}
.navpart2 ul li .submenu{
    position: absolute;
    top: 100%;
    left: 0px;
    min-width: 200px;
    background-color: white;
    visibility: hidden;
    opacity: 0;
}
.navpart2 ul li:hover .submenu{
    visibility: inherit;
    opacity: 1;
    top: 100%;
    transition: all 0.4s ease-in-out;
}

.navpart2 ul li .submenu a{
    display: block;
    width: 100%;
    border-radius: 0px;
    padding: 8px;
    margin-bottom: 0px;
}
.navpart2 ul li .submenu a:hover{
    background-color: #d1d0d0;
}
.navpart2 ul li .submenu a button{
    color: #000;
    width: 100%;
    border-radius: 0px;
    justify-content: flex-start !important;
    text-transform: capitalize;
}
